<?xml version='1.0' encoding='utf-8'?>
<widget id="com.azurgames.cordova.phaser.solitaire" 
 version="1.0.0"
 xmlns="http://www.w3.org/ns/widgets" 
 xmlns:cdv="http://cordova.apache.org/ns/1.0" 
 xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Solitaire</name>
    <description>Solitaire Game</description>
    <author email="golovin.d@azurgames.com" href="https://azurgames.com">
        Azur Games
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>
